<div class="row">
    <!-- xs,sm,md,lg,xl -->
    <div class="col-lg-12">
      <card [indents]="0" class="mb-0">
        <div id="map"></div>
      </card>
    </div>

    <div class="col-lg-12 map-col mb-4 mb-lg-0">
      <md-input-container style="width: 100%" class="mb-2">
        <input mdInput placeholder="Type device name you want to find..." required (keyup)='updateFilter($event)' autocomplete="on">
      </md-input-container>
    </div>

    <div class="col-lg-12">
      <ngx-datatable
        class="material"
        [rows]="deviceGroupList"
        [headerHeight]="50"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [limit]="5"
        [loadingIndicator]="loadingIndicator"
        [footerHeight]="50"
        >
          <ngx-datatable-column title="No" name="No" >
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column title="Groupname" name="Groupname">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column title="DeviceCount" name="DeviceCount">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <button  type="button" md-icon-button (click)="onEdit(row.no - 1)"><md-icon>edit</md-icon></button>
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class="col-lg-12 mb-4 mb-lg-0" style="margin-top : 10px">
      <button type="button" md-raised-button color="primary" style="margin-bottom:20px;" (click)="onAdd()"><md-icon>add</md-icon> Add DeviceGroup</button>
    </div>

</div>
