<form [formGroup]="form">
    <h2 md-dialog-title>{{dialogTitle}}</h2>
    <div class="col-md-12">
    
      <div class="row">
        <md-input-container>
          <input mdInput placeholder="FirstName" [formControl]="form.controls['firstname']">
        </md-input-container>
      </div>
    
      <div class="row">
        <md-input-container>
          <input mdInput placeholder="LastName" [formControl]="form.controls['lastname']">
        </md-input-container>
      </div>
    
      <div class="row">
        <md-input-container>
          <input mdInput placeholder="Email" [formControl]="form.controls['email']" type="email">
        </md-input-container>
      </div>
    
      <div class="row">
        <md-input-container>
          <input mdInput placeholder="Organization" [formControl]="form.controls['organization']">
        </md-input-container>
      </div>
    


      <div class="row">
        <md-input-container>
          <input mdInput placeholder="Role" [mdAutocomplete]="auto" [formControl]="form.controls['role']">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let role of filteredRoles | async" [value]="role">
              {{ role }}
            </md-option>
          </md-autocomplete>
        </md-input-container>
      </div>

      <div class="row">
          <md-input-container>
            <input mdInput placeholder="Password"  [formControl]="form.controls['password']" type="password">
          </md-input-container>
        </div>

      <div class="row">
        <md-input-container>
          <input mdInput placeholder="Confirm Password"  [formControl]="form.controls['confirmpassword']" type="password">
        </md-input-container>
      </div>        
      <div class="row">
          <md-checkbox *ngIf="!checkboxHide" [checked]="false" (change)="oncheckstatus($event)">Password Edition</md-checkbox>
        </div>
    </div>
    <div md-dialog-actions>
      <button type="button" md-button (click)="dialogRef.close('cancel')" color="accent">Cancel</button>
      <button type="button" md-button (click)="dialogRef.close('submit')" color="accent" [disabled]="!form.valid">Submit</button>
    </div>
    </form>
    