<form [formGroup]="form">
<h2 md-dialog-title>{{dialogTitle}}</h2>
<div md-dialog-content>

  <div class="col-md-12">
    <md-input-container>
      <input mdInput placeholder="DeviceName" [formControl]="form.controls['devicename']">
    </md-input-container>
  </div>

  <div class="col-md-12">
    <md-input-container>
      <input mdInput placeholder="Address" [formControl]="form.controls['address']">
    </md-input-container>
  </div>

  <div class="col-md-12">
    <md-input-container>
      <input mdInput placeholder="Latitude" [formControl]="form.controls['latitude']">
    </md-input-container>
  </div>

  <div class="col-md-12">
    <md-input-container>
      <input mdInput placeholder="Longitude" [formControl]="form.controls['longitude']">
    </md-input-container>
  </div>

  <div class="col-md-12">
    <md-input-container>
      <input mdInput placeholder="Model" [formControl]="form.controls['model']">
    </md-input-container>
  </div>

  <div class="col-md-12">
    <md-input-container>
      <input mdInput placeholder="Version" [formControl]="form.controls['version']">
    </md-input-container>
  </div>

  <div class="col-md-12">
    <md-input-container>
      <input  mdInput [mdDatepicker]="picker" placeholder="OnService from : " [formControl]="form.controls['onservice']" readonly>
      <button type="button" mdSuffix [mdDatepickerToggle]="picker"></button>
      <!-- <small *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched" class="form-message text-danger">You must include a date.</small>
      <small *ngIf="form.controls['date'].errors?.date && form.controls['date'].touched" class="form-message text-danger">You must include a valid date.</small> -->
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
  </div>



  <div class="col-md-12">
    <md-select placeholder="Device Group" [style.width]="'100%'" [formControl]="form.controls['devicegroup']">
      <md-option *ngFor="let devicegroup of deviceGroupList" [value]="devicegroup.groupname">
        {{ devicegroup.groupname}}
      </md-option>
    </md-select>
  </div>


  <div class="col-md-12 row" style="margin-top:10px;">
    <label for="inputEmail" class="col-sm-5 col-md-4 col-form-label mb-0">Reset   </label>
    <div class="col-sm-7 col-md-8 mb-0 text-right" style="padding-top: 9px;">
      <md-slide-toggle color="accent" [formControl]="form.controls['reset']" (change)="onchangetoggle($event)">
      </md-slide-toggle>
    </div>
  </div>

  <div class="col-md-12 row" >
    <label for="inputEmail" class="col-sm-5 col-md-4 col-form-label mt-2">DimLevel</label>
    <div class="col-sm-7 col-md-8 mb-0 text-right">
      <md-slider min="1" max="5" step="1" thumbLabel [formControl]="form.controls['dimlevel']" (change)="onchangeslider($event)"></md-slider>
    </div>
  </div>



</div>
<div md-dialog-actions>
  <button type="button" md-button (click)="dialogRef.close('cancel')" color="accent">Cancel</button>
  <button type="button" md-button (click)="dialogRef.close('submit')" color="accent" [disabled]="!form.valid">Submit</button>
</div>
</form>
