
<div class="row">
  <div class="col-md-12">
    <button type="button" md-icon-button color="primary" (click)="onBack()">
      <md-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="font-size: 60px;">keyboard_backspace</md-icon>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-3">&nbsp;</div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <card [title]="'Group Name'">
        <div class="row">
          <div class="col-md-10">
            <md-input-container>
              <input mdInput placeholder="GroupName" [(ngModel)]="deviceGroup.groupname">
            </md-input-container>
          </div>
          <div class="col-md-2">
            <button type="button" md-raised-button color="primary" (click)="onSave()"><i class="fa fa-save"></i>  Save</button>
          </div>
        </div>
        </card>
      </div>
    </div>
    <!-- <button type="button" md-raised-button color="primary" style="margin-bottom:20px;" (click)="onAdd()"><md-icon>add</md-icon> Add Device</button> -->
    <div class="row">
      <div class="col-md-12">
        <card>
        <md-input-container>
          <input mdInput placeholder="Type device name you want to find..." required (keyup)='updateFilter($event)' [(ngModel)]="devicename" autocomplete="on">
        </md-input-container>
        </card>
      </div>
      <div class="col-md-12">
        <card [title]="'Device lists'">
          <md-nav-list>
            <md-list-item *ngFor="let device of devices">

              <span md-list-avatar>{{device.no}}</span>
              <h3 md-line class="h3">{{device.devicename}}</h3>
              <p md-line>
                <span>{{device.address}}</span>
              </p>
              <button type="button" md-icon-button (click)="remove(device)">
                <md-icon>remove_circle_outline</md-icon>
              </button>
            </md-list-item>
          </md-nav-list>
        </card>
      </div>
    </div>
  </div>
  <div class="col-md-3">&nbsp;</div>
</div>
