<form [formGroup]="form">
  <h2 md-dialog-title>{{dialogTitle}}</h2>
  <div md-dialog-content>
  
    <div class="col-md-12">
      <md-input-container>
        <input mdInput placeholder="DeviceGroup" [formControl]="form.controls['devicegroupname']">
      </md-input-container>
    </div>

  </div>
  <div md-dialog-actions>
    <button type="button" md-button (click)="dialogRef.close('cancel')" color="accent">Cancel</button>
    <button type="button" md-button (click)="dialogRef.close('submit')" color="accent" [disabled]="!form.valid">Submit</button>
  </div>
  </form>
  