<div class="col-md-12">
  <div class="row">
    <div class="col-md-9">
        <button type="button" md-raised-button color="primary" style="margin:5px;" (click)="onAdd()"><md-icon>add</md-icon> Add User</button>
    </div>
    <div class="col-md-3">    
      <md-input-container style="width: 100%;" class="mb-2">
        <input mdInput placeholder="Type email address you want to find..." required (keyup)='updateFilter($event)' autocomplete="on">
      </md-input-container>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-12">
      <ngx-datatable
        #table
        class="material"
        [rows]="users"
        [headerHeight]="50"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [limit]="10"
        [loadingIndicator]="loadingIndicator"
        [footerHeight]="50">
          <ngx-datatable-column name="No" >
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Firstname">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Lastname">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Email">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Organization">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Role">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>
          <ngx-datatable-column name="">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <button type="button" md-icon-button (click)="onEdit(row.no - 1)"><md-icon>edit</md-icon></button>
              <button type="button" md-icon-button (click)="onRemove(row.no - 1)"><md-icon>delete</md-icon></button>
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>