<card [title]="'Create your account'" [align]="'center'">
  <form [formGroup]="form" (submit)="onSignup()">
    
    <md-input-container>
      <div class="col-md-12">
        <div class="row">
          <input mdInput placeholder="First name" [formControl]="form.controls['fname']">
        </div>
        <div class="row">
         <small *ngIf="form.controls['fname'].hasError('required') && form.controls['fname'].touched" class="form-message text-danger">You must include a first name.</small>
        </div>
        <div class="row">
         <small *ngIf="form.controls['fname'].hasError('minlength') && form.controls['fname'].touched" class="form-message text-danger">Your first name must be at least 5 characters long.</small>
        </div>
        <div class="row">
         <small *ngIf="form.controls['fname'].hasError('maxlength') && form.controls['fname'].touched" class="form-message text-danger">Your first name cannot exceed 10 characters.</small>
        </div>
      </div>
    </md-input-container>

    <md-input-container>
      <div class="col-md-12">
        <div class="row">
          <input mdInput placeholder="Last name" [formControl]="form.controls['lname']">
        </div>
        <div class="row">
          <small *ngIf="form.controls['lname'].hasError('required') && form.controls['lname'].touched" class="form-message text-danger">You must include a last name.</small>
        </div>
        <div class="row">
          <small *ngIf="form.controls['lname'].hasError('minlength') && form.controls['lname'].touched" class="form-message text-danger">Your last name must be at least 5 characters long.</small>
        </div>  
        <div class="row">
          <small *ngIf="form.controls['lname'].hasError('maxlength') && form.controls['lname'].touched" class="form-message text-danger">Your last name cannot exceed 10 characters.</small>
        </div>  
        
      </div>
    </md-input-container>

    <md-input-container>
      <div class="col-md-12">
        <div class="row">
          <input mdInput placeholder="Email address" [formControl]="form.controls['email']" type="email">
        </div>
        <div class="row">
          <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="form-message text-danger">You must include an email address.</small>
        </div>
        <div class="row">
          <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="form-message text-danger">You must include a valid email address.</small>
        </div>         
      </div>
    </md-input-container>
    <md-input-container>
        <div class="col-md-12">
          <div class="row">
            <input mdInput placeholder="Organization" [formControl]="form.controls['organization']">
          </div>
          <div class="row">
            <small *ngIf="form.controls['organization'].hasError('required') && form.controls['organization'].touched" class="form-message text-danger">You must include an organization.</small>
          </div>         
        </div>
      </md-input-container>
    <div>
      <md-input-container>
        <input mdInput type="text" placeholder="Role" [mdAutocomplete]="auto" [formControl]="form.controls['role']">
      </md-input-container>
      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let role of filteredRoles | async" [value]="role">
          {{ role }}
        </md-option>
      </md-autocomplete>
    </div>
    <md-input-container>
      <div class="col-md-12">
        <div class="row">
          <input mdInput placeholder="Password" [formControl]="form.controls['password']" type="password">
        </div>
        <div class="row">
          <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="form-message text-danger">You must include password.</small>
        </div>
      </div>
    </md-input-container>

    <md-input-container>
      <div class="col-md-12">
        <div class="row">
          <input mdInput placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" type="password">
        </div>
        <div class="row">
          <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="form-message text-danger">You must include confirm password.</small>
        </div>
        <div class="row">
          <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="form-message text-danger">Passwords do not math.</small>            
        </div>        
      </div>
      
    </md-input-container>

    <button type="button" md-raised-button color="primary" type="submit" [disabled]="!form.valid">Sign Up</button>

    <div class="additional-info">
      Already have an account?
      <a href="#signin-up/sign-in">Sign in</a>
    </div>
  </form>
</card>
