<div class="d-flex">
<div class="col-md-1 align-self-center d-flex justify-content-md-center">
  <button md-button type="button" (click)="onBack()"><i class="fa fa-angle-left fa-5x"></i></button>
</div>
<div class="col-md-10">
  <div class="row">
    <div class="col-md-4">
      <md-input-container>
        <input  mdInput [mdDatepicker]="picker_from" placeholder="From : " [(ngModel)]="fromDate" [max]="toDate" (ngModelChange)="fromDatechange($event)" readonly>
        <button type="button" mdSuffix [mdDatepickerToggle]="picker_from"></button>
        <!-- <small *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched" class="form-message text-danger">You must include a date.</small>
        <small *ngIf="form.controls['date'].errors?.date && form.controls['date'].touched" class="form-message text-danger">You must include a valid date.</small> -->
      </md-input-container>
      <md-datepicker #picker_from ></md-datepicker>
    </div>
    <div class="col-md-4">
      <md-input-container>
        <input  mdInput [mdDatepicker]="picker_to" placeholder="To : " [min]="fromDate" [max]="maxDate" [(ngModel)]= "toDate" (ngModelChange)="toDatechange($event)" readonly>
        <button type="button" mdSuffix [mdDatepickerToggle]="picker_to"></button>
        <!-- <small *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched" class="form-message text-danger">You must include a date.</small>
        <small *ngIf="form.controls['date'].errors?.date && form.controls['date'].touched" class="form-message text-danger">You must include a valid date.</small> -->
      </md-input-container>
      <md-datepicker #picker_to ></md-datepicker>
    </div>
    <div class="col-md-4">
      <md-input-container>
        <input mdInput placeholder="Role" [mdAutocomplete]="auto" [formControl]="roleCtrl">
        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let value of filteredRoles | async" [value]="value">
            {{ value }}
          </md-option>
        </md-autocomplete>
      </md-input-container>
    </div> 
  </div>
  <div class="row">
      <div class="col-md-12 text-center">
        <h3>
            {{fromDateStr}}    -    {{toDateStr}}
        </h3>
        
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <card [title]="'Audience Overview'">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [colors]="barChartColors"
          [chartType]="barChartType"></canvas>
      </card>
    </div>
  </div>
  
</div>
<div class="col-md-1 align-self-center d-flex justify-content-md-center">
  <button md-button type="button" (click)="onForward()"><i class="fa fa-angle-right fa-5x"></i></button>
</div>
</div>